<script type="text/javascript">
  
  var truckUpdateID;
  $(function(){
  	if(!document.getElementById("map")) {
  		return;
  	}

  	var myOptions = {
  		zoom: 15,
  		center: new google.maps.LatLng(<%= @game.latitude %>, <%= @game.longitude %>),
  		mapTypeId: google.maps.MapTypeId.HYBRID,
  		mapTypeControl: true,
		disableDoubleClickZoom: true
  	};

  	// Create the main map
  	map = new google.maps.Map(document.getElementById("map"), myOptions);
	//heatmap = new HeatmapOverlay(map, {"radius":15, "visible":true, "opacity":60});
	
	

    GameMap.fitToRadius(<%= @game.radius %>);
	
  });


</script>


	<div id="wrapper">
		<section id="scoreboard-wrapper">
			<div id="scoreboard">				
				<h1><a href="/game/<%=@game.layer_id%>" target="_top">Atomic Orchid</a></h1>
				<h5 class="tagline"><span id="city"><%= h @game.name %></span></h5>
				<!--<h5 class="tagline"><span id="num-players"></span></h5>
				<h5 class="tagline"><span id="user-info">Your role is <%= @user_team %> </span></h5>-->
			</div>
			<!--
			<h3 id="drop-cargo" >drop cargo</h3> 
			<h3 id="logout" class="clickable" >logout</h3> -->
		</section>


		
		
		<section id="active-player-wrapper">
			<div align="center">
				<h2>Players</h2>
			<table  id="players" >
				<th>Active players  |</th>
				<th>|  Role  |</th>
				<th>|  Radioactive exposure  |</th>
				<th>|  Level</th>
				
			 </table>
			</div>
			
		</section>


		<div id="map"></div>


		<footer>
			<p class="right">AtomicOrchid is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi</a> platform. <a href="http://geoloqi.com" style="float: right; margin-top: 3px; margin-left: 3px;"><img src="/img/loqi-16px.png" width="16" height="16" /></a> </p>
			
		</footer>
    
      </div> <!-- wrapper -->
    <input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
    <input type="hidden" id="user_id" value="<%= @user_id %>" />
    <input type="hidden" id="user_team" value="<%= @user_team %>" />
    <input type="hidden" id="user_initials" value="<%= @user_initials %>" />
    <input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
    <input type="hidden" id="game_status" value=<%= @game.is_active %> />
