<script type="text/javascript">
  
  var truckUpdateID;
  $(function(){
  	if(!document.getElementById("map")) {
  		return;
  	}

  	var myOptions = {
  		zoom: 15,
  		center: new google.maps.LatLng(<%= @game.latitude %>, <%= @game.longitude %>),
  		mapTypeId: google.maps.MapTypeId.HYBRID,
  		mapTypeControl: true,
		disableDoubleClickZoom: true
  	};

  	// Create the main map
  	map = new google.maps.Map(document.getElementById("map"), myOptions);


	$("#collapse").click(function(){
		if($("#chat-window").is(':visible')){
			$("#chat-window").hide();
			$("#collapse").val("open chatting window");
		}
		else{
			$("#chat-window").show();
			$("#collapse").val("collapse");
		}
	});

	
	
	$("#join-observer").click(function(){
		$("#login-form").hide();
		 $("#LoadingDiv").hide();
            	$("#login-embedded").hide();
		$("#waiting-massage").hide();	
		$("#drop-cargo").hide();
		$("#logout").hide();
	});

    if($("#user_team").val()=="replay"){
		 $("#login-form").hide();
		 $("#LoadingDiv").hide();
            	$("#login-embedded").hide();
		$("#waiting-massage").hide();	
		$("#drop-cargo").hide();
		$("#logout").hide();
    
    }
    else if($("#user_team").val()!=""){
        $("#login-form").hide();
        if($("#game_status").val()=="0"){
            $("#LoadingDiv").hide();
            $("#login-embedded").hide();

        }else if($("#game_status").val()=="1"){
            getResults();
            $("#waiting-massage").html("<center>game ended</center>");
        }
    }else{
        if ($("#game_status").val()=="1"){
            $("#login-form").hide();
            $("#waiting-massage").html("<center>game ended</center>");
        }
        else{
            $("#waiting-massage").hide();
        }
    }

	
	if($("#user_team").val()=="controller"){
		
		google.maps.event.addListener(map, 'rightclick',sendRequest); 
		//alert("you are " + $("#user_team").val());
		$("#drop-cargo").hide();

		
	}
	else if($("#user_team").val()=="truck"){
		
		var p = new google.maps.LatLng(0, 0);
            	google.maps.event.addListener(map, 'rightclick',moveTruck); 
		  
            	
            	var circleOptions = {
        		strokeColor: "#FF0000",
        		strokeOpacity: 0.8,
        		strokeWeight: 2,
        		fillColor: "#FF0000",
        		fillOpacity: 0.35,
        		map: map,
        		center: p,
                clickable:false,
        		radius: 100
      		};
            	radiation= new google.maps.Circle(circleOptions);

		//alert("you are " + $("#user_team").val());
		truckUpdateID=setInterval("updateTruckLocation()", 500);
		$("#drop-cargo").click(function(){
			dropCargo();
		});

	}
	else if($("#user_team").val()=="runner"){
		
        
		$("#drop-cargo").hide();
		$("#logout").hide();
	}
	else{
		$("#drop-cargo").hide();
		$("#logout").hide();
		//alert("you are not logged in");
	}

    	GameMap.fitToRadius(<%= @game.radius %>);
    
	
  });


</script>



	<div id="wrapper">
		<section id="scoreboard-wrapper">
			<div id="scoreboard">				
				<h1>>Atomic Orchid</h1>
				<h5 class="tagline"><span id="city"><%= h @game.name %></span></h5>
				<!--<h5 class="tagline"><span id="num-players"></span></h5>
				<h5 class="tagline"><span id="user-info">Your role is <%= @user_team %> </span></h5>-->
			</div>
			<!--
			<h3 id="drop-cargo" >drop cargo</h3> 
			<h3 id="logout" class="clickable" >logout</h3> -->
		</section>
		
		
		


		
		
		<section id="active-player-wrapper">
			<div align="center">
				<h2>Players</h2>
			<table  id="players" >
				<th>Active players  |</th>
				<th>|  Role  |</th>
				<th>|  Radioactive exposure  |</th>
				<th>|  Level</th>
				
			 </table>
			</div>
			
		</section>
		
		<section id="chat-wrapper">
			
			<div id="menu">
			
			<div style="clear:both"></div>
			</div>	
			<div id="chat-window">
				<input name="collapse" type="button" id="collapse" value="collapse"/>
				<div id="chatbox"></div>
			
				<input name="usermsg" type="text" id="usermsg" size="63" />
				<input name="submitmsg" type="button"  id="submitmsg" value="Send" />
			</div>
		</section>


		<div id="map"></div>


		
    
    	
      </div> <!-- wrapper -->
    <input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
    <input type="hidden" id="user_id" value="<%= @user_id %>" />
    <input type="hidden" id="user_team" value="<%= @user_team %>" />
    <input type="hidden" id="user_initials" value="<%= @user_initials %>" />
    <input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
    <input type="hidden" id="game_status" value=<%= @game.is_active %> />
