<script type="text/javascript">
  var test =  <%= @test %>
  var layerId =  <%= @game.layer_id %>;
  $(function(){
  	if(!document.getElementById("map")) {
  		return;
  	}

  	var myOptions = {
  		zoom: 15,
  		center: new google.maps.LatLng(<%= @game.latitude %>, <%= @game.longitude %>),
  		mapTypeId: google.maps.MapTypeId.HYBRID,
  		mapTypeControl: true,
		disableDoubleClickZoom: true
  	};

  	// Create the main map
  	map = new google.maps.Map(document.getElementById("map"), myOptions);


	$("#collapse").click(function(){
		if($("#chat-window").is(':visible')){
			$("#chat-window").hide();
			$("#collapse").val("open chatting window");
		}
		else{
			$("#chat-window").show();
			$("#collapse").val("collapse");
		}
	});

	$("#submitmsg").click(function(){	

		var clientmsg = $("#usermsg").val(); 
		sendMsg(clientmsg);		
		$("#usermsg").attr("value", "");
		return false;
	});
	
	$("#usermsg").keypress(function(event){
		if(event.which == 13){
			var clientmsg = $("#usermsg").val(); 
			sendMsg(clientmsg);		
			$("#usermsg").attr("value", "");
		}	

	});
	GameMap.fitToRadius(<%= @game.radius %>);
    
	
  });


</script>

	<div id="row wrapper">

		<div id="map" class="col-sm-6 col-lg-6"></div>
		<div id="wedget-panel-1" class="col-sm-6 col-lg-6">
			<div id="test-panel">
				
				<input type="text" value=0 id="txt-frame" size=5 />
				<input type="button" value="set frame" id="btn-setframe" />
				<input type="button" value="fetchplan" id="btn-fetchplan" />
			</div>
			<div id="active-player-wrapper">
				<div class="row" >
					<div class = "col-lg-3">
						Icon
					</div>

					<div class = "col-lg-3">
						health
					</div>

					<div class = "col-lg-3">
						mode
					</div>
					<div class = "col-lg-3">
						chat 
					</div>

				</div>
				<div class="row" >
					<div class = "col-lg-3">
						<image src = "/image/soldier.png">
					</div>

					<div class = "col-lg-3">
						100%
					</div>

					<div class = "col-lg-3">
						<div class="btn-group btn-groun-xs">
  							<button type="button" class="btn btn-default">Auto</button>
  							<button type="button" class="btn btn-default ">Manual</button>
  						</div>
					</div>

					<div class = "col-lg-3">
						<a href="#" class="btn btn-default" role="button">message <span class="badge pull-right">42</span></a>
					</div>

				</div>			
			</div>	
			<!--<div id="chat-wrapper">
				<input name="collapse" type="button" id="collapse" value="collapse"/>
				<div id="chat-window"> 
					<div id="chatbox"></div> 
					<input name="usermsg" type="text" id="usermsg" size="63" />
					<input name="submitmsg" type="button"  id="submitmsg" value="Send" />
				</div>
			</div>-->
		</div>
</div> 
<input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
<input type="hidden" id="user_id" value="<%= @user_id %>" />
<input type="hidden" id="user_initials" value="<%= @user_initials %>" />
<input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
<input type="hidden" id="game_status" value=<%= @game.is_active %> />
