<script type="text/javascript">
  var test =  <%= @test %>
  var layerId =  <%= @game.layer_id %>;
  $(function(){
  	if(!document.getElementById("map")) {
  		return;
  	}

  	var myOptions = {
  		zoom: 15,
  		center: new google.maps.LatLng(<%= @game.latitude %>, <%= @game.longitude %>),
  		mapTypeId: google.maps.MapTypeId.MAP,
  		mapTypeControl: true,
		disableDoubleClickZoom: true
  	};

  	// Create the main map
  	map = new google.maps.Map(document.getElementById("map"), myOptions);
    GameMap.fitToRadius(<%= @game.radius %>);

 

});


</script> 
<div  ng-controller = "NewAssignmentCtrl">

	
	<div class="row">
		<div id ="map" class="col-sm-6 col-lg-6"></div>
		<div class="container col-sm-6 col-lg-6"> 
			
			<div class="row">
				<div class="col-sm-5 label"> New Assignments </div>
				<div class="col-sm-4 label"> Current Assignments </div>
				<div class="col-sm-2 label"> Feedbacks </div>
			</div>

      <div class="row">
        <div class="col-sm-6"> 
          <div class="col-sm-3 btn btn-sm btn-primary"> 
            Confirm all
          </div>
          <div class="col-sm-3 btn btn-sm btn-danger" ng-click="undoAll()"> 
            Undo all
          </div>
          <div class="col-sm-3 btn btn-sm btn-info" ng-click="undoAll()"> 
            Request replan
          </div>
        </div>
      </div>

			<div class = "row"   >
				<div  class="col-sm-6 drag-container" >

          <!-- assignment list -->
          <div class="row" ng-repeat = "a in aCopy"  ng-init="initD()" >
				 	  <div class="col-sm-3 card task-card task-draggable" ng-show="taskExist(a)" taskId = "{{a.task_id}}" assignmentId = "{{a.id}}"> 
              <img ng-src = "{{getTaskIcon(a.task_id)}}" >
						  <span class="glyphicon glyphicon-move corner"></span> 
            </div>
            <div class="col-sm-3 card task-card exisiting-task-droppable"  ng-hide="taskExist(a)" assignmentId = "{{a.id}}" > 
              <span class="glyphicon glyphicon-plus corner "></span> 
            </div>
            <div class="col-sm-6"> 

              <!-- player list -->
              <div class = "card player-card player-draggable player-droppable" ng-show = "playerExist(a,1)" playerHolder = "1" playerId = {{a.player1}} assignmentId = "{{a.id}}" >
                <img ng-src = "{{getPlayerIcon(a.player1)}}" >
                <span class="glyphicon glyphicon-move corner"></span>
              </div>

              <div class = "card player-card player-droppable" ng-hide="playerExist(a,1)" playerHolder = "1" playerId = "{{a.player1}}" assignmentId = "{{a.id}}">
                <span class="glyphicon glyphicon-plus corner"></span>
              </div>
              <!-- player 1 2 deliminator -->

              <div class = "card player-card player-draggable player-droppable" ng-show = "playerExist(a,2)" playerHolder = "2" playerId = {{a.player2}} assignmentId = "{{a.id}}" >
                <img ng-src = "{{getPlayerIcon(a.player2)}}" >
                <span class="glyphicon glyphicon-move corner"></span>
              </div>
              <div class = "card player-card player-droppable" ng-hide = "playerExist(a,2)" playerHolder = "2" playerId = {{a.player2}} assignmentId = "{{a.id}}">
                <span class="glyphicon glyphicon-plus corner"></span>
              </div>
            </div>
            <!--player list end -->

            <!-- buttons -->
            <div class="col-sm-2 card task-card"> 
              <div class = "col-sm-12 btn btn-primary btn-sm" ng-click = "confirmA()">
                Go
              </div>
              <div class = "col-sm-12 btn btn-default btn-sm" ng-click = "deleteA(a)">
                Delete
              </div>
            </div>
            <!-- buttons end-->

          </div >
          <!-- assignment list end -->

          <!-- new indicator -->
          <div class="row transparent-5" >
            <div class="col-sm-2 card task-card task-droppable"> 
              Drop task here 
              <span class="glyphicon glyphicon-plus corner"></span> 
            </div>
            <div class="col-sm-6"> 
              <div class = "card player-card" playerHolder = "1"></div>
              <div class = "card player-card" playerHolder = "2"></div>
            </div>
          </div>
          <!-- new indicator end -->

          <div class="row">
              Unassigned tasks and players
          </div>

          <div class="row">
          <!-- the idle tasks -->
          <div class="col-sm-3" style="width:60;position:relative">
            <div class = " card task-card task-draggable" ng-repeat = "t in tasks | filter: filterUnassignedTasks" taskId = "{{t.id}}" ng-init="initD()">
              <img ng-src = "{{getTaskIcon(t.id)}}" /> 
              idle
              <span class="glyphicon glyphicon-move corner"></span> 
            </div>
          </div> 
          <!-- the idle tasks end-->
          <!-- idle player list -->
          <div class="col-sm-6" style="margin-left:2" >
              <!-- player list -->
              <div class = "card player-card player-draggable player-droppable" playerHolder = "-1" ng-repeat = "p in players | filter: filterIdlePlayers" ng-init="initD()" playerId = "{{p.id}}">
                <img ng-src = "{{getPlayerIcon(p.id)}}" > Idle
                <span class="glyphicon glyphicon-move corner"></span>
              </div>
          </div>
          <!-- idle player list end -->
          </div>
        </div>
	
				<div class="col-sm-6 column "> 
          <div class = "row" ng-repeat = "a in prev_assignments" >
					<div class="col-sm-3 card task-card"  > 
            <img ng-src="{{getTaskIcon(a.task_id)}}" /> 
          </div>
					<div class="col-sm-8" > 
						<div class="row">
							<div class="col-sm-7 card player-card">
								<img ng-src="{{getPlayerIcon(a.player1)}}" /> 
								<div class="btn btn-primary btn-sm" >msg</div>
							</div >
							<div class="col-sm-4 card player-card">
								reject 
							</div >
						</div>
						<div class="row">
							<div class="col-sm-7 card player-card">
								<img ng-src="{{getPlayerIcon(a.player2)}}" /> 
								<div class="btn btn-primary btn-sm" >msg</div>
							</div >
							<div class="col-sm-4 card player-card">
								accept
							</div >
						</div>
					</div>
        </div>

        <div class="row">
              Unassigned tasks and players
        </div>

        <div class="row">
          <!-- the idle tasks -->
          <div class="col-sm-3" style="width:60;position:relative">
            <div class = " card task-card " ng-repeat = "t in tasks | filter: filterPrevUnassignedTasks" taskId = "{{t.id}}" ng-init="initD()">
              <img ng-src = "{{getTaskIcon(t.id)}}" /> 
              idle
            </div>
          </div> 
          <!-- the idle tasks end-->
          <!-- idle player list -->
          <div class="col-sm-5" style="margin-left:2" >
              <!-- player list -->
              <div class = "card player-card " playerHolder = "-1" ng-repeat = "p in players | filter: filterPrevIdlePlayers" ng-init="initD()" playerId = "{{p.id}}">
                <img ng-src = "{{getPlayerIcon(p.id)}}" > Idle <div class="btn btn-primary btn-sm" >msg</div>
              </div>
          </div>
          <!-- idle player list end -->
        </div>
			</div>

			</div>
			<div class = "row">
				<div class="col-sm-12 bottom ">
					<div class = "row" > 
						<!-- here -->
					 </div>
					 <div class = "row">
					 	Finished tasks:
					 </div>
					<div class = "row transparent-5">  
						<div class = "col-sm-1 card task-card">
							<img src = "/img/task_icon2.png" /> 
						</div>
						<div class = "col-sm-1 card task-card">
							<img src = "/img/task_icon3.png" /> 
						</div>
						<div class = "col-sm-1 card task-card">
							<img src = "/img/task_icon4.png" /> 
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	
</div> 


<input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
<input type="hidden" id="user_id" value="<%= @user_id %>" />
<input type="hidden" id="user_initials" value="<%= @user_initials %>" />
<input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
<input type="hidden" id="game_status" value=<%= @game.is_active %> />
