<script type="text/javascript">
  var test =  <%= @test %>
  var layerId =  <%= @game.layer_id %>;
  $(function(){
  	if(!document.getElementById("map")) {
  		return;
  	}

  	var myOptions = {
  		zoom: 15,
  		center: new google.maps.LatLng(<%= @game.latitude %>, <%= @game.longitude %>),
  		mapTypeId: google.maps.MapTypeId.HYBRID,
  		mapTypeControl: true,
		disableDoubleClickZoom: true
  	};

  	// Create the main map
  	map = new google.maps.Map(document.getElementById("map"), myOptions);


	$("#collapse").click(function(){
		if($("#chat-window").is(':visible')){
			$("#chat-window").hide();
			$("#collapse").val("open chatting window");
		}
		else{
			$("#chat-window").show();
			$("#collapse").val("collapse");
		}
	});

	$("#submitmsg").click(function(){	

		var clientmsg = $("#usermsg").val(); 
		sendMsg(clientmsg);		
		$("#usermsg").attr("value", "");
		return false;
	});
	
	$("#usermsg").keypress(function(event){
		if(event.which == 13){
			var clientmsg = $("#usermsg").val(); 
			sendMsg(clientmsg);		
			$("#usermsg").attr("value", "");
		}	

	});
	GameMap.fitToRadius(<%= @game.radius %>);
    
	
  });


</script>

	<div id="row wrapper">

		<div id="map" class="col-sm-6 col-lg-6"></div>
		<div id="wedget-panel-1" class="col-sm-6 col-lg-6">
			<div id="active-player-wrapper" class="col-lg-12">
				<div class="row" >
					<div class = "col-lg-1">
						Icon
					</div>

					<div class = "col-lg-2">
						health
					</div>

					<div class = "col-lg-3">
						mode
					</div>
					<div class = "col-lg-3">
						communication 
					</div>

				</div>
				<div class="row alert alert-info" >
					<div class = "col-lg-1">
						<image src = "/img/soldier.png" height=20 width=20>
					</div>

					<div class = "col-lg-2">
						100%
					</div>

					<div class = "col-lg-3">
						<div class="btn-group btn-group-xs">
  							<button type="button" class="btn btn-default">Auto</button>
  							<button type="button" class="btn btn-default ">Manual</button>
  						</div>
					</div>

					<div class = "col-lg-3">
						<button href="#" id="callapse" class="btn btn-default btn-xs" role="button">message </button> <span class="badge">42</span> 
					</div>

				</div>
				

				<div id="chat-wrapper">
					<div id="chat-window"> 
						<div id="chatbox"></div> 
						<input name="usermsg" type="text" id="usermsg" size="63" />
						<input name="submitmsg" type="button"  id="submitmsg" value="Send" />
					</div>
				</div>

				<div class="row alert alert-info" >
					<div class = "col-lg-1">
						<image src = "/img/soldier.png" height=20 width=20>
					</div>

					<div class = "col-lg-2">
						100%
					</div>

					<div class = "col-lg-1">
						<image src = "/img/firefighter.png" height=20 width=20>
					</div>

					<div class = "col-lg-1">
						<image src = "/img/task_icon1.png" height=20 width=20>
					</div>

					<div class = "col-lg-3">
						<div class="btn-group btn-group-xs">
  							<button type="button" class="btn btn-default">Auto</button>
  							<button type="button" class="btn btn-default ">Manual</button>
  						</div>
					</div>

					<div class = "col-lg-3">
						<button href="#" class="btn btn-default btn-xs" role="button">message </button> <span class="badge">42</span> 
					</div>

				</div>		
				<div class="row" >
					Target:
					<div class="btn-group" >
						
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      						13
      					<span class="caret"></span>
    					</button>
					
						<ul class="dropdown-menu">
      						<li><a href="#">15</a></li>
      						<li><a href="#">18</a></li>
    					</ul>
    					
    				</div>	
    				Teammate:
    				<div class="btn-group" >
    					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      						AA
      					<span class="caret"></span>
    					</button>

    					<ul class="dropdown-menu">
      						<li><a href="#">AA</a></li>
      						<li><a href="#">BB</a></li>
    					</ul>		
				</div>	
			</div>
			<!---->
			<div id="agent-wrapper" class="col-lg-12 alert alert-warning" >
				<div class="row">
					<button href="#" class="col-lg-2  btn btn-danger btn-sm" role="button">Get plan</button> 
					<div class="col-lg-10" >
						agent messages: 2 targets will be discarded given current constraint. 
					</div>
				</div>
				<div class="row">
					
					<button href="#" class="col-lg-2 btn btn-danger btn-sm" role="button">Confirm Plan</button> 
					
					<div class=" col-lg-10">
						plan status: new plan from agent, waiting to be confirmed
					</div>
				</div>

			</div>
		</div>
</div> 
<input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
<input type="hidden" id="user_id" value="<%= @user_id %>" />
<input type="hidden" id="user_initials" value="<%= @user_initials %>" />
<input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
<input type="hidden" id="game_status" value=<%= @game.is_active %> />
