<style type="text/css">
 	body {
 		padding: 0;
 	}
</style>

<script type="text/javascript">
  /**
* converted stringify() to jQuery plugin.
* serializes a simple object to a JSON formatted string.
* Note: stringify() is different from jQuery.serialize() which URLEncodes form elements

* UPDATES:
* Added a fix to skip over Object.prototype members added by the prototype.js library
* USAGE:
* jQuery.ajax({
* data : {serialized_object : jQuery.stringify (JSON_Object)},
* success : function (data) {
*
* }
* });
*
* CREDITS: http://blogs.sitepointstatic.com/examples/tech/json-serialization/json-serialization.js
*/
jQuery.extend({
    stringify : function stringify(obj) {
        var t = typeof (obj);
        if (t != "object" || obj === null) {
            // simple data type
            if (t == "string") obj = '"' + obj + '"';
            return String(obj);
        } else {
            // recurse array or object
            var n, v, json = [], arr = (obj && obj.constructor == Array);

            for (n in obj) {
                v = obj[n];
                t = typeof(v);
                if (obj.hasOwnProperty(n)) {
                    if (t == "string") v = '"' + v + '"'; else if (t == "object" && v !== null) v = jQuery.stringify(v);
                    json.push((arr ? "" : '"' + n + '":') + String(v));
                }
            }
            return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
        }
    }
});


  
  $(function(){
  	if(!document.getElementById("map")) {
  		return;
  	}
  	
  	
  //	  		zoomControl: true,
  //		zoomControlOptions: {
  //          style: google.maps.ZoomControlStyle.LARGE,
  //          position: google.maps.ControlPosition.TOP_LEFT
  //      },
  
  	var myOptions = {
  		zoom: 15,
  		zoomControl: true,
  		zoomControlOptions: {
            style: google.maps.ZoomControlStyle.LARGE,
            position: google.maps.ControlPosition.TOP_LEFT
        },
  		center: new google.maps.LatLng(<%= @game.latitude %>, <%= @game.longitude %>),
  		mapTypeId: google.maps.MapTypeId.HYBRID,
  		mapTypeControl: true,
		disableDoubleClickZoom: true
  	};

	mapHeight = $(document).height() - $('#radiation_reading').height() ;
 	


 	//alert(mapHeight + "=" + $(window).height() + " - " + $('#header').height()+ " - " +$('#radiation_reading').height());
 	//alert("doc: " + $(document).height() + "window: " + $(window).height());

 	$('#map').css("height", mapHeight);


  	// Create the main map
  	map = new google.maps.Map(document.getElementById("map"), myOptions);


	$("#logout").click(function(){
		document.location.href="/game/"+$("#layer_id").val()+"/logout?user_id="+$("#user_id").val();
	});


    GameMap.fitToRadius(<%= @game.radius %>); // todo: replace ruby template var
    
    //setup health status
    //setRadiation(50);
    
    //setup tabs
    showScreen('map');
    
    //listenForPositionUpdates();
    
    
    //test response to incoming messages
    var userid = $('#user_id').val();
    exposureData = {'value':0, 'player_id':userid};
    receiveExposureData(exposureData);
	messageData = {'id':0, 'content':'Hi! Here is where you will receive important info about the game.', 'player_id':[userid]};
	receiveMessageData(messageData);    
	
  });

function sendMessage(){
//alert($("#massage").val());
	var pathname = window.location.pathname;
	$.ajax({
		url: pathname+"/message",
		type: "POST",
		data: {"content":$('#message').val()}, <!-- JSON.parse($('#message').val()), "id":0, "player_id":[0,1,2,3,4,5,6,7,8,9] }, -->
		dataType: "json",
		success: function(data) {
			$('#message').val("");
		}
	});
}

</script>
<style type="text/css">
	div.ui-content {
		padding: 0;
	}
</style>

<div id="main" data-role="page">

    	<div data-role="header" id="header">
	    	<div data-role="navbar">
				<ul>
					<li><a href="#" class="ui-btn-active" onclick="showScreen('map');">Map</a></li>
					<li><a href="#" onclick="showScreen('messages');">Messages</a></li>					
				</ul>
			</div><!-- /navbar -->
	    </div><!-- /header -->
    
  	<div data-role="content">

	<div id="wrapper">
		    <div id="status_bar" style="width:100%">
        <div id="geiger_sound"></div>
        
        <div id="radiation_reading" style="padding:2%;float:left;width:25%;height:12ex;text-align:center">
          Radiation<br/>
          <div id="radiation_number" style="font-size : 300%">0</div>
          <div id="radiation_images">
            <img id="rad0" src="/radiation_gray.png" width="20pt"/>
            <img id="rad1" src="/radiation_gray.png" width="20pt"/>
            <img id="rad2" src="/radiation_gray.png" width="20pt"/>
          </div>
        </div>
        
        <div style="padding:2%;float:left;width:67%;height:12ex">
          Health
          <div id="health_bar" style="height:82%"></div>
        </div>
        
        <div style="clear:both"></div>
   </div>

<!--
	<div id="testing_bar">
		<a href="#" onclick="testReceive('player');">MapTest</a>
		<a href="#" onclick="testReceive('health');">HealthTest</a>
		<a href="#" onclick="testReceive('exposure');">ExposureTest</a>
		<a href="#" onclick="testReceive('message');">MessageTest</a>
	</div>
	-->

		<div id="map" style="horizontal-align:center;height:300px"></div>

		<section id="player-info">
			<h3 id="player-score" class="team-firefighter"><span class="value"></span></h3> <!-- todo: replace ruby var skill -->
			<h3 class="message"></h3>
		</section>

	    <div id="messageListDiv">
	    
	    	<h5>Messages</h5>
	    	<ul id="task_list" class="ui-listview" data-role="listview" data-inset="true">												
			</ul>
			<div style="position:fixed; position:bottom;">
				<input type="text" name="message" id="message"/>
				<input onclick="sendMessage();" type="button" name="send" id="message_btn" value="send"/>
			</div>
	    	
	    
	    </div>


    
      </div> <!-- wrapper -->
      
 <!-- wrapper -->
 </div> 
 </div>

<input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
    <input type="hidden" id="user_id" value="<%= @user_id %>" />
    <input type="hidden" id="user_skill" value="<%= @user_skill %>" />
    <input type="hidden" id="user_initials" value="<%= @user_initials %>" />
    <input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
    <input type="hidden" id="game_status" value=<%= @game.is_active %> /> 
   
  
