<script type="text/javascript">
  
  $(function(){

	
  });


</script>
	<div id="wrapper">
		<section id="scoreboard-wrapper">
			<div id="scoreboard">				
				<h1><a href="/game/<%=@game.layer_id%>" target="_top">GeoSense</a></h1>
				<h5 class="tagline"><span id="city"><%= h @game.name %></span></h5>
				<h5 class="tagline"><span id="num-players"></span></h5>
				<h5 class="tagline"><span id="user-info">Your role is <%= @user_team %> </span></h5>
			</div>
			<h3 id="drop-cargo" >drop cargo</h3> 
			<h3 id="logout" class="clickable" >logout</h3> 
		</section>

		<section id="red-team-wrapper">
			<div id="red-team"  >
				<h2  class="clickable" >Street : <span class="red-score-value">-</span></h2>
				<ol id="runner-team-players" class="team-players"></ol>
			</div>
		</section>
			
		<section id="blue-team-wrapper">
			<div id="blue-team" onclick="joinGame('blue');" >
				<h2>Contr : </h2>
				<ol id="controller-team-players" class="team-players"></ol>
			</div>
			
		</section>

		<section id="truck-team-wrapper">
			<div id="truck-team" onclick="joinGame('truck');" >
				<h2>Truck :</h2>
				<ol id="truck-team-players" class="team-players"></ol>
			</div>
		</section>

		<div id="map"></div>

		<nav id="top-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="http://geoloqi.com">Get Geoloqi</a></li>
			</ul>
		</nav>

		<section id="player-info">
			<h3 id="player-score" class="team-<%= @user_team %>"><span class="value"></span></h3>
			<h3 class="message"></h3>
		</section>

		<footer>
			<p class="right">GeoSense is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi</a> platform. <a href="http://geoloqi.com" style="float: right; margin-top: 3px; margin-left: 3px;"><img src="/img/loqi-16px.png" width="16" height="16" /></a> </p>
			
		</footer>
    
      </div> <!-- wrapper -->
    <input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
    <input type="hidden" id="user_id" value="<%= @user_id %>" />
    <input type="hidden" id="user_team" value="<%= @user_team %>" />
    <input type="hidden" id="user_initials" value="<%= @user_initials %>" />
    <input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
    <input type="hidden" id="game_status" value="<%= @game.is_active %>" />
