
<script type="text/javascript">
  
  
  $(function(){
  	if(!document.getElementById("map")) {
  		return;
  	}

  	var myOptions = {
  		zoom: 15,
  		center: new google.maps.LatLng(<%= @game.latitude %>, <%= @game.longitude %>),
  		mapTypeId: google.maps.MapTypeId.HYBRID,
  		mapTypeControl: true,
		disableDoubleClickZoom: true
  	};

  	// Create the main map
  	map = new google.maps.Map(document.getElementById("map"), myOptions);


	$("#logout").click(function(){
		document.location.href="/game/"+$("#layer_id").val()+"/logout?user_id="+$("#user_id").val();
	});


    GameMap.fitToRadius(100); // todo: replace ruby template var
	
  });


</script>

<div id="map"></div>


<div id="LoadingDiv" style="display:block;">   </div>
	<div id="login-embedded">

			<h1>Login</h1>



		
	<form action="" method="post">

    <div id="login-form" >

		<p><label for="accountName" class="label">&nbsp&nbspE-mail Address</label></br>

			<input id="accountName"   class="label" value="" name="accountName" maxlength="320" type="text" tabindex="1" class="input" /></p>





			<p><button class="btn" type="button" id="join-controller" >
				controller
			</button></p>
			<p><button class="btn" type="button" id="join-truck" >

				truck

			</button></p>
			<p><button class="btn" type="button" id="join-observer">

				observer

			</button></p>


	</div>
    
    <div id="waiting-massage">
		
        <p><label for="accountName" class="label">You have logged in </br>But game not begin</br>please wait</label></p>

	</div>
    </form>	
    

</div>

      
 <!-- wrapper --> 
     
<input type="hidden" id="layer_id" value="<%= @game.layer_id %>" />
    <input type="hidden" id="user_id" value="<%= @user_id %>" />
    <input type="hidden" id="user_skill" value="<%= @user_skill %>" />
    <input type="hidden" id="user_initials" value="<%= @user_initials %>" />
    <input type="hidden" id="group_token" value="<%= @game.layer_id %>" />
    <input type="hidden" id="game_status" value=<%= @game.is_active %> /> 
   
  