<html>

  <head>
  	<title>Atomic Orchid Dashboard</title>
	  <meta name="viewport" content="initial-scale=1.0">

  	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,visualization"></script>
  	<script type="text/javascript" src="/game-common.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css" /> 
	<link rel="stylesheet" type="text/css" href="/reset.css" />
  	
  	<% if request.path =~ /\/game\// || request.path =~ /\/replay2\// %>
		<script> SOCKET_IO_ADDRESS = "<%= @socket_io_url %>";</script>
		<script> GAME_ID = "<%= @game.layer_id %>";</script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="<%= @socket_io_url %>/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/web_controller.js" ></script>
		<script type="text/javascript" src="/game_controller.js" ></script>
		<script type="text/javascript" src="/js-model/models.js" ></script>
		<script type="text/javascript" src="/test_panel.js" ></script>
		<link type="text/css" rel="stylesheet" href="/chatstyle.css" />
  	<% end %>

    <% if request.path =~ /\/replay\// %>
	  <script> SOCKET_IO_ADDRESS = "<%= @socket_io_url %>";</script>
	  <script> GAME_ID = "<%= @game.layer_id %>";</script>
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    	  <script src="/replay.js"></script>
    	  <script src="/replay_control.js"></script>
	  <script type="text/javascript" src="/game_controller.js" ></script>
		  
	  <link type="text/css" rel="stylesheet" href="/chatstyle.css" />
	  <link type="text/css" rel="stylesheet" href="/replay_panel.css" />
	 
	  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css">
	  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <% end %>

    <% if request.path =~ /\/charts\// %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>	
	<script src="/pixelKit/js/libs/modernizr.min.js"></script>
	<script src="/pixelKit/js/libs/jquery-1.10.0.js"></script>
	<script src="/pixelKit/js/libs/jquery-ui.min.js"></script>
	<script src="/pixelKit/js/libs/bootstrap.min.js"></script>

	<!-- Style CSS -->
	<link href="/pixelKit/css/bootstrap.css" media="screen" rel="stylesheet">
	<link href="/pixelKit/style.css" media="screen" rel="stylesheet">

	<!-- scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="/pixelKit/js/general.js"></script>
	<script src="/charts/dashboard.js"></script>
    <% end %>

  	

  </head>
  <body>
    <%= yield %>
  </body>
</html>
