<h1>Atomic Orchid Game Editor</h1>

<style>
  table td {
    padding-left: 10px;
    padding-bottom: 5px;
  }
</style>




<% if @action=="replay" %>
  <p> <a href="/admin/games" >game </a>| replay </p>
  <table>
    <tr>
      <th>logs</th>
      <th></th>
      <th></th>
    </tr>
      <% @logs.each do |log| %>
      	<tr>
     	 <td><%= log %></td>
     	 <td> <a href="/replay/<%= log %>/delete"> delete </a> </td>
      	 <td> <a href="/replay/<%= log %>"> replay </a> </td>
      	 </tr>
      <% end %>
  </table>
<% elsif @action=="games" && @games.empty? %>
  <p> game | <a href="/admin/replay" >replay </a> </p>
  No games yet!<br>
  
  <br><br>

  <a href="/admin/games/new">Create New Game</a>
<% elsif @action=="games" && !@games.empty? %>
  <p> game | <a href="/admin/replay" >replay</a> </p>
  <table>
    <tr>
      <th>Game Title</th>
      <th>Date</th>
      <th>Last pt.</th>
      <th>Status</th>
      <th>Players</th>
      <th>Points</th>
    </tr>
    <% @games.each do |game| %>
      
        <td><%= h game.created_at.strftime('%D') %></td>
        <td><%= h game.players(:order => :updated_at).first.updated_at.strftime('%D') if game.players.length > 0 %></td>
        <% if game.is_active==0 %>
            <td>active</td>
        <% elsif game.is_active==-1 %>
            <td>waiting</td>
        <% elsif game.is_active==1 %>
            <td>ended</td>
        <% end %>

        <td><%= h game.players.count %></td>
        <td><%= h game.total_points %></td>
        <!--<td><a href="/admin/games/<%= game.layer_id %>/edit">Setup</a></td> -->
        <td><a href="/admin/games/<%= game.layer_id %>/mapeditor">Edit Map</a></td>
        <td><a href="/game/<%= game.layer_id %>/dashboard">Dashboard</a></td>
        
        <td>&nbsp;&nbsp;&nbsp;<a href="/admin/games/<%= game.layer_id %>/reset" onclick="<%= onclick_put ' Are you -really- sure?' %>">Reset Game</a></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/games/<%= game.layer_id %>" onclick="<%= onclick_delete %>">Delete</a></td>
        <% if game.is_active==0 %>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/games/<%= game.layer_id %>/end" >end</a></td>
        <% elsif game.is_active==-1 %>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/games/<%= game.layer_id %>/start" >start</a></td>
        <% elsif game.is_active==1 %>

        <% end %>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/games/<%= game.layer_id %>/console" >console</a></td>
      </tr>
    <% end %>
  </table>
  <br><br>

	<a href="/admin/games/new">Create New Game</a>
<% end %>


